.cat{
    display: flex;
    width: 54%;
    float: right;
    justify-content: center;

    margin-top: 30px;

}

.big_c{
    display: flex;
    width: 620px;
    height: 620px;
    background-color: rgba(255, 211, 202, 1);
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;


}

.middle_c{
    display: flex;
    width: 528px;
    height: 528px;
    background-color: rgba(255, 222, 215, 1);
    border-radius: 100%;
    justify-content: center;
    align-items: center;

}

.small_c{
    display: flex;
    width: 388px;
    height: 388px;
    background-color: rgba(255, 242, 239, 1);
    border-radius: 100%;
}

.img_cat{
    position: relative;
    margin-top: 80px;
    margin-left: 130px;
    
}